<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="about" class="dropdown-toggle" data-toggle="dropdown">
            About CMO<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="msg">Message from the Director</a></li>     
            <li><a href="about#cmo">What is CMO?</a></li>
            <li class="divider"></li>
            <li><a href="faq#oaxaca">Oaxaca</a></li>
          </ul>
        </li>
      <li class="dropdown">
        <a href="site" class="dropdown-toggle" data-toggle="dropdown">
          Site Information<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="site#information">Info for your arrival</a></li>
          <li><a href="site#facilities">CMO Facilities</a></li>
          <li><a href="faq#acommodation">Staying before and after workshops</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="workshops" class="dropdown-toggle" data-toggle="dropdown">
          Workshops<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">          
          <li><a href="workshops#2016">2016</a></li>
          <li><a href="workshops#2017">2017</a></li>
          <li class="divider"></li>
          <li><a href="workshops#2015">2015</a></li>
        </ul>
      </li>
      <li><a href="events">Other Events</a></li>
      <li class="dropdown">
        <a href="faq" class="dropdown-toggle" data-toggle="dropdown">
          FAQ<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">          
          <li><a href="http://www.birs.ca">BIRS webpage</a></li>
          <li class="divider"></li>
          <li><a href="faq#acommodation">Accomodation</a></li>
          <li><a href="faq#meals">Meals</a></li>
          <li><a href="faq#travel">Travel</a></li>
          <li class="divider"></li>
          <li><a href="http://www.birs.ca/organizers/">Organizers</a></li>
          <li class="dropdown-submenu">
                    <a href="#">Participants</a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.birs.ca/participants/">CMO-BIRS Participants</a></li>
                      <li><a href="faq#mexicans">Mexicans Participants</a></li>
                    </ul>
          </li>
          <li class="divider"></li>
          <li><a href="faq#workshops">Workshops</a></li>
          <li class="divider"></li>
          <li><a href="faq#testimonials">Testimonials</a></li>
          <li class="divider"></li>
          <li><a href="faq#oaxaca">Oaxaca</a></li>
        </ul>
      </li>
      <li><a href="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            USA<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="index/es">MEX</a>
            </li>     
          </ul>
        </li>
      -->
      <li class="disabled"> <a href="#" >{{ today | localized_date: '%d %B %Y' }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

