body {
  padding-top: 70px;
  font-size: 18px;
}

/* the footer */
footer {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
}

footer p {
  padding: 10px;
  text-align: center;
}
//margin top y bottom
span.vino{
	border-bottom: 1px solid #cccccc;
  color: #800000;
  font-family: "Times",Times New Roman,serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 12px;
  padding: 0;
}

#carousel {
  padding: 0;
  margin: 0;
  position: relative;
}
#carousel li {
  opacity: 0;
  list-style: outside none none;
  position: absolute;
  background: #fff;
  transition: opacity 1s;
}

.justy{
  text-align: justify;
}
.center{
  text-align: center;
}
iframe{
  border: 0;
}
.space{
  margin-top: 1.5em;
  margin-bottom: 0.4em;
}

.special-announcement{
  list-style-image: url('../images/minilogo.png');
 }

.letterbig{
  font-size: 22px;
  font-weight: bold;
}

.lettersmall{
  font-size: 12px;
}

.rigth{
  text-align: right;
}

.lettermini{
  font-size: 10;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.item-time{
  width: 18%;
  text-align: left;
}
<<<<<<< HEAD
<<<<<<< HEAD

.containertext{
  margin-top: 30%;
}

=======
>>>>>>> feature/cmo

=======

>>>>>>> feature/cmo
.containertext{
  margin-top: 30%;
}
.no-wr{
  margin-left: -30px;
}
.no-wr2{
  margin-left: -45px;
}
