---
title: Page not found
published: true
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container">
<div class="containertext">
  <div class="jumbotron">
    {% editable_text jumbotron, rows: 5, priority: 1 %}
      <h1 class="text-danger">Content not found</h1>
      <p>THIS IS A PREVIEW WEBPAGE, PLEASE CHECK THE LINK AND ADD "PREVIEW" AT THE LINK</p>
      "https://station.locomotive.works/_app/cmo/preview/message"
      or click here:
      <a href="https://station.locomotive.works/_app/cmo/preview/message"> Message for the director</a>
    {% endeditable_text %}
  </div>
</div>
</div>

{% endblock %}
