---
title: Page not found
published: true
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container">
<div class="containertext">
  <div class="jumbotron">
    {% editable_text jumbotron, rows: 5, priority: 1 %}
      <h1 class="text-danger">Content not found</h1>
    {% endeditable_text %}
  </div>
</div>
</div>

{% endblock %}
