---
title: Other Events

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

position: 5
---

{% extends 'layouts/default' %}

{% block content %}

{% block header%}
<!-- HACER PASADOS Y FUTUROS EVENTOS-->
<div class="container">
<div class="containertext">
  <div class="col-md-8 space">
    <p>The CMO Math Fair 2015, attended by over 5000 participants from Oaxaca and Mexico.</p>
    <p>CMO celebrated Pi Day at downtown Oaxaca.</p>
    <p>CMO Received 50 students from Latin America and the Caribean</p>
  </div>
  <div class="col-md-3 space">
  	<p>
  		<a href="http://cmo.cimat.mx/FeriaDeMatematicas">Feria Matematica</a>
  	</p>
  	<p>
  		<a href="http://www.birs.ca/cmo/cmo-piday-2016">Dia de pi</a>
  	</p>
  	<p>
  		<a href="http://emalca2016.eventos.cimat.mx/">Emalca at CMO</a>
  	</p>
  </div>

</div>
</div>

{% endblock%}

{% endblock %}
