---
title: Oaxaca
listed: true
published: false
searchable: true
---

{% extends 'layouts/default' %}

{% block content %}

<div class="container">
<div class="containertext col-md-12">

     <div class="table-responsive">
      <div class="space">
        <span class="vino">
          HOTELS
        </span>
      </div>
      <h3>
        COSTS DURING CMO-BIRS WORKSHOPS
      </h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>
              HACIENDA LOS LAURELES
            </th>
            <td>
              <p>
                GUEST OR EXTRA BED $ 700.00 PER NIGHT (NO MEALS INCLUDED)
              </p>
              <p>
                MEALS FOR GUEST: BREAKFAST $120.00, LUNCH $180.00, DINNER $180.00 OR 20% DISCOUNT ON THE REGULAR MENU.
              </p>
              <p>
                CHILDREN UNDER 8 YEARS CAN SHARE THE ROOM WITH THEIR PARENTS FREE OF CHARGE.
              </p>
              <b>
                FOR RESERVATIONS PLEASE CONTACT:
              </b>
              <a href="mailto:cmo.reservations@hotelhaciendaloslaureles.com">cmo.reservations@hotelhaciendaloslaureles.com</a>
            </td>
          </tr>
          <tr>
            <th>
              ANGEL INN
            </th>
            <td>
              <p>
                GUEST OR EXTRA BED $ 238.00 PER NIGHT (NO MEALS INCLUDED)
              </p>
              <p>
                MEALS FOR GUEST: BREAKFAST $110.00 OR 10% DISCOUNT ON THE REGULAR MENU.
              </p>
              <p>
                A CHILD UNDER 10 YEARS CAN SHARE THE ROOM WITH PARENTS FREE OF CHARGE.
              </p>
              <b>
                FOR RESERVATIONS PLEASE CONTACT:
              </b><a href="mailto:cmo.reservation@hotelangelinn.com">cmo.reservation@hotelangelinn.com</a>
              
            </td>
          </tr>
        </tbody>
      </table>
      <p></p>
        <h3>
          RATES BEFORE AND AFTER CMO-BIRS WORKSHOPS
        </h3>
      <p></p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>
              HIGH SEASON: MAY 1, JULY 22 TO AUG 2, SEPT 16, OCT 28 TO NOV 2 & NOV 21, 2016
            </th>
            <th>
              LOW SEASON:THE REST OF THE DAYS
            </th>
            <th>
              OTHER CHARGES
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              ANGEL INN
            </th>
            <td>
              STANDARD ROOM $892.50.00 FOR SINGLE OR DOUBLE OCCUPANCY (NO MEALS INCLUDED)
            </td>
            <td>
              STANDARD ROOM $850.00 ROOM FOR SINGLE OR DOUBLE OCCUPANCY BREAKFAST INCLUDED
            </td>
            <td>
              <p>
                1. EXTRA PERSON: $ 238.00  PER NIGHT (NO MEALS INCLUDED).
              </p>
              2. A CHILD UNDER 10 YEARS CAN SHARE THE ROOM WITH PARENTS FREE OF CHARGE
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        <b>
          FOR RESERVATIONS PLEASE CONTACT:
        </b>
        <a href="mailto:cmo.reservation@hotelangelinn.com">cmo.reservation@hotelangelinn.com</a>  
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>
              DURING THE YEAR
            </th>
            <th>
              OTHER CHARGES
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              HACIENDA LOS LAURELES
            </th>
            <td>
              <p>
                DELUXE ROOM $ 1,800.00
              </p>
              <p>
                MASTER SUITE $ 2,300.00
              </p>
              <p>
                FOR SINGLE OR DOUBLE OCCUPANCY.
              </p>BREAKFAST INCLUDED
            </td>
            <td>
              <p>
                1.-GEST OR EXTRA BED $7000.00 PER NIGHT (NO MEALS INCLUDED).
              </p>
              2.-CHILDREN UNDER 8 YEARS CAN CHARE THE ROOM WITH THEIR PARENTS FREE OR CHARGE
            </td>
          </tr>
        </tbody>
      </table>
      <b>
        FOR RESERVATIONS PLEASE CONTACT:
      </b>
      <p>
        <a href="mailto:cmo.reservations@hotelhaciendaloslaureles.com">cmo.reservations@hotelhaciendaloslaureles.com </a>
      </p>
      <table class="table table-bordered">
        <thead><tr>
          <th></th>
          <th>
            DURING THE YEAR
          </th>
          <th>
            OTHER CHARGES
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            CASA BONITA
          </th>
          <td>
            <p>
              PREMIUM ROOM $ 1,800.00
            </p>
            <p>
              FOR SINGLE OR DOUBLE OCCUPANCY.
            </p>
            AMERICAN BREAKFAST INCLUDED.
          </td>
          <td>
            <p>
              1. FREE TRANSPORTATION TO DOWNTOWN.
            </p>
            <p>
              2. HOSTERIA DE ALCALA RESTAURANT (DOWNTOWN) CAN STORAGE YOUR LUGGAGE.
            </p>
            3. DIRECT CHARGE TO YOUR ROOM AT CASA BONITA FOR ANY CONSUME AT HOSTERIA DE ALCALA RESTAURANT
          </td>
        </tr>
      </tbody>
    </table>
    <b>
      FOR RESERVATIONS PLEASE CONTACT:
    </b>
    <a href="mailto:reservaciones@hotelcasabonita.com">reservaciones@hotelcasabonita.com</a>
    <p>
      <b>
        Code: cmo2016
      </b>
    </p>

  </div>
  <span class="vino">
    TRANSPORTATION
  </span>
  <p></p>
    <h3>
      FOR YOUR ARRIVAL: AIRPORT TO HOTEL TRANSPORTATION
    </h3>
  <p></p>
  <ul>
    <li>
      SHUTTLE SERVICE OFFERED BY THE AIRPORT
    </li>
  </ul>
  <p>
    There  is  only  one  company  for  transportation  from  the  Xoxocotlán  International  Airport  (OAX),  by  shuttle
      service.
  </p>
  <div class="col-md-6 ">
  <p>
    Shuttle (Airport-Hotel)
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th># Passengers</th>
        <th>Price per person</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1
        </td>
        <td>
          <p>
            120.00
          </p>
          Mexican Pesos
        </td>
      </tr>
    </tbody>
  </table>
  </div><!--colmd6-->

  <div class="col-md-6 ">
    <p>
      Private Transportation (Airport-Hotel)
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            # Passengers
          </th>
          <th>
            Price per person
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1-4
          </td>
          <td>
            <p>
              410.00
            </p>
            Mexican Pesos
          </td>
        </tr>
      </tbody>
    </table>
  </div><!--colmd6-->
  <p>
    p/p=per person
  </p>
  <p>
    <u>
      <b>
        No reservations are accepted in advance
      </b>
    </u>
  </p>
  <ul>
    <li>
      PRIVATE SERVICE OFFERED BY TURISMO EL CONVENTO(AIRPORT-HOTEL)
    </li>
  </ul>
  <div class="text-center ">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            # Passengers
          </th>
          <th>
            Price per person
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            450.00
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            230.00
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            170.00
          </td>
        </tr>
        <tr>
          <td>
            4
          </td>
          <td>
            150.00
          </td>
        </tr>
        <tr>
          <td>
            5-13
          </td>
          <td>
            126.00
          </td>
              </tr>
            </tbody>
          </table>
      </div>
      <p>
        *All prices are in Mexican Pesos.
      </p>
      <p>
        To   book   this   service,   please   contact Guillermo   Santiago   at   Hotel   Hacienda   Los   Laureles   at:  <a href="mailto:cmo.reservations@hotelhaciendaloslaureles.com">cmo.reservations@hotelhaciendaloslaureles.com</a>
      </p>
      <p></p>
        <h3>
          FOR YOUR DEPARTURE: HOTEL TO AIRPORT TRANSPORTATION
        </h3>
      <p></p>
      <ul>
        <li>
          PUBLIC SERVICE
        </li>
      </ul>
      <b>
        Public Taxi (Airport-Hotel)
      </b>
      <table class="table table-bordered">
        <thead>
              <tr>
                <th># Passengers</th>
                <th>Price per person</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1-3</td>
                <td>200.00 Mexican Pesos</td>
              </tr>
            </tbody>
          </table>
      <u>You can make a reservation at your hotel</u>
      <ul>
        <li>
          PRIVATE SERVICE OFFERED BY TURISMO EL CONVENTO (HOTEL-AIRPORT)
        </li>
      </ul>
      <table class="table table-bordered">
           <thead>
              <tr>
                <th>
                  # Passengers
                </th>
                <th>
                  Price per person
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  400.00
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  200.00
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  150.00
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  130.00
                </td>
              </tr>
              <tr>
                <td>
                  5-13
                </td>
                <td>
                  115.00
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            *All prices are in Mexican Pesos.
          </p>
          To   book   this   service,   please   contact Guillermo   Santiago   at   Hotel   Hacienda   Los   Laureles   at: <a href="mailto:cmo.reservations@hotelhaciendaloslaureles.com">cmo.reservations@hotelhaciendaloslaureles.com</a>  
    <p></p>
  
</div>
</div>
{% endblock %}