---
title: Index
is_layout: true
position: 1
---
{% extends 'layouts/default' %}
{% block content %}

<div class="container">

      <div class="col-md-8">
        <div class="space">
        <b>
          News
        </b>
        </div>
        <ul>
          <li class="special-announcement">
            <a  class="letterbig" href="workshops">The 2017 Scientific Program in CMO</a>
          </li>
        </ul>
        <p><b>This Week in CMO</b></p>
        <div class="col-md-3 space" id="thumb"></div>
        <div class="col-md-9 space" id="info"></div>
      </div><!--end div-->


      <div class="col-md-3 justy space">
        <b>
          What They're Saying About CMO-BIRS
        </b>
        <div class="lettersmall">
          <blockquote class="lettersmall">          
            <p>
              "The workshop was very interesting, especially because it allowed the interaction between a lot of people of different backgrounds to join on a very comfortable space."
            </p>
            <div class="rigth lettermini">
              <a href="http://www.birs.ca/testimonials/cmo/#testimonial-1840">read more testimonials >> </a>
            </div>
          </blockquote>
        </div>
      </div>
   

      <div class="col-md-8">
        <div class="space">
          <span>
            Recently at CMO
          </span>
        </div>
        <div class="col-md-12">
          <div id="last"></div>
        </div>
      </div><!--end div-->

    
    
      <div class="col-md-3 lettersmall">
        <div class="space">
          <span>
            Upcoming Events
          </span>
        </div>
        <div id="upcoming"></div>
      </div><!--end div 2-->



      <div class="col-md-4 lettersmall">
        <div class="space">
          <span>
            Quick Links
          </span>
        </div>
        <p>
          <a href="faq">Frequently Asked Questions (FAQ)</a>
        </p>
        <p>
          <a href="faq">Site Map</a>
        </p>
        <p>
          <a href="">Travel to CMO</a>
        </p>
        <p>
          <a href="workshops">Calendar of All Events</a>
        </p>
      </div>  

    
</div>

{% endblock %}
