---
title: Director_message
is_layout: true
---
{% extends 'layouts/default' %}
{% block content %}

<div class="container space">
<div class="containertext">

<<<<<<< HEAD:app/views/pages/msg.liquid
<<<<<<< HEAD:app/views/pages/message.liquid
    <span>Message from the Director</span>
=======
    {{ 'span(vino). Message from the Director' | textile}}
>>>>>>> feature/cmo:app/views/pages/msg.liquid
=======
    {{ 'span(vino). Message from the Director' | textile}}
>>>>>>> feature/cmo:app/views/pages/msg.liquid
    <p></p>

    {% editable_text "messsage", rows: 40 %}
    	<p>Dear Colleague,</p>
    	<div class="col-md-8 justy">
    	<p>
    	On the following lines, you will find a brief outline of the BIRS project and how the initiative of Casa Matemática Oaxaca came to be:</p>
    	<p>
    	Inaugurated in 2003, the Banff International Research Station (BIRS) is a joint Canada-US-Mexico initiative emerged as the result of a remarkably concerted effort led by the Pacific Institute for the Mathematical Science (PIMS, Canada) and the Mathematical Science Research Institute (MSRI, Berkeley, USA), along with the support of the Mathematics of Information 	Technology and Complex Systems Network of Centres of Excellence (MITACS, Canada).</p>
    	<p>
    	In 2005, Mexico National Council for Science and Technology (CONACYT) joined Alberta Innovation, the US National Science Foundation (NSF) and Canada’s Natural Science and Engineering Research Council (NSERC) in becoming a BIRS sponsor. In 2009, BIRS became an incorporated, not-for-profit society with a Board of Directors that has the overall responsibility for all aspects of the BIRS operations.</p>
    	<p>
    	Later, in 2013 CONACYT decided to support the creation of Casa Matemática Oaxaca, as a BIRS affiliated research Centre, upon the initiative of three of the main mathematical institutions in México: the Instituto de Matemáticas and the Centro de Ciencias Matemáticas, both from UNAM and the Centro de Investigación en Matemáticas (CIMAT), a CONACYT research center. With CIMAT in charge of conducting this project, it is now materializing in the CMO-BIRS program, held in its temporary headquarters of Hotel Hacienda Los Laureles, in the beautiful city of Oaxaca.</p>
    	<p>
    	There were many reasons to select Oaxaca as the seat of the new international station: Oaxaca is a cultural capital, with a base of academic institutions that offer a propitious environment for the confluence of mathematical researchers; its multiple historical, gastronomic and artistic attractions with deep roots in the ethnic richness of its original cultures, in addition to its geographical location and climate makes it an ideal place to receive scientists of the whole world and stimulate their collaborative work.</p>
    	<p>
    	With my very best wishes for a fruitful experience in the CMO-BIRS program.
    	</p>
    	<p>
    	Dr. José Antonio de la Peña
    	</p>
        <p>
    	Director General
    	</p>
        <p>
    	Centro de Investigación en Matemáticas, A. C.
    	</p>
    	<p>
            Interim Director
        </p>
        <p>
    	Casa Matemática Oaxaca 
    	</p>
    {% endeditable_text %}
		</div>


    <div class="col-md-4">
        <div class="space">
          {{ 'span(vino). Quick Links'| textile }}
        </div>
    {% editable_text "quick_director", rows:6 %}
        <p>
          <a href="faq">Frequently Asked Questions (FAQ)</a>
        </p>
        <p>
          <a href="faq">Site Map</a>
        </p>
        <p>
          <a href="">Travel to CMO</a>
        </p>
        <p>
          <a href="workshops">Calendar of All Events</a>
        </p>
    {% endeditable_text %}
      </div>  
    
    </div>
<<<<<<< HEAD:app/views/pages/msg.liquid
</div>
=======
>>>>>>> feature/cmo:app/views/pages/msg.liquid
</div>

{% endblock %}
