---
title: Workshops
is_layout: true
position: 4
---
{% extends 'layouts/workshops' %}
{% block content %}
{% block header, short_name: true, priority: 1 %}
<div class="container">
<div class="containertext col-md-12">

  <p></p>
  <p class="center">
  <span class="span">
    All Events at CMO
  </span>
  </p>
  <div id="2016-1">
  <span class="vino">
    2016 
  </span>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:10%">Code</th>
        <th style="width:70%">Name</th>
        <th style="width:10%">Start</th>
        <th style="width:10%">End</th>
      </tr>
    </thead>
    <tbody id="2016">
    </tbody>
  </table>
  </div>

  <div id="2015-1">
  <span class="vino">
    2015
  </span>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:10%">Code</th>
        <th style="width:70%">Name</th>
        <th style="width:10%">Start</th>
        <th style="width:10%">End</th>
      </tr>
    </thead>
    <tbody id="2015">
    </tbody>
  </table>
  </div>

  <div id="2017-1">
  <span class="vino">
    2017
  </span>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:10%">Code</th>
        <th style="width:70%">Name</th>
        <th style="width:10%">Start</th>
        <th style="width:10%">End</th>
      </tr>
    </thead>
    <tbody id="2017">
    </tbody>
  </table>
  </div>


</div>
</div>


{% endblock %}
{% endblock %}



  

                